extends layout

block content
  h1.index Trend/Bing
  .item(class='index')
    input(type='text' name='q' placeholder=' Enter location..').input
    button(id='Search' class='index').search Search
    if (locError)
      p(style={color: 'red'}) Location not recognised!

  script(src='/javascripts/index.js')
