extends layout

block content
  h1.index Trend/Bing
  .item(class='index')
    input(type='text' name='q' placeholder=' Enter location..').input
    button(id='Search' class='index').search Search
  
    script(src='/javascripts/index.js')
