extends layout

block content

  div(class="clearbox")
    h1.trending Top #{trending.length} Trends for #{location}
    p Click corresponding buttons to view either images or news articles related to each trend. 
    each trend in trending
      .item
        h2 ##{trend} 
          button.news News
          | 
          button.pics Pics
          | 
          select(name="dropdown")
            each _, i in Array(6)
              if (i != 0)
                option #{i*10}

  div(class="shadowbox trending")
    ol

  script(src='/javascripts/trending.js')
  